<div id="playerlist" class="d-flex flex-wrap gap-2">
</div>

<script id="player-list-item" type="text/x-handlebars-template">
    <%- include('../../shared/views/player-list-item.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
