<div class="mb-1">
    {{#if (eq playerId currentPlayerId)}}
    <span class="fw-bold">You</span>
    {{else}}
    <span class="fw-bold">{{playerName}}</span>
    {{/if}}
    <span class="text-muted">[{{formatTime timestamp}}]:</span>
    {{message}}
</div>